{
	Kind = "Xcode.IDEFoundation.TextSubstitutionFileTemplateKind";
	Platforms = (
		"com.apple.platform.iphoneos",
		"com.apple.platform.macosx",
	);
	Options = (
		{
			Description = "The name of the module to create";
			Identifier = productName;
			Name = Router;
			Required = YES;
			Type = text;
			Default = Router;
		},
	);
}
